@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	background: transparent;
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #2388ffc0;
	background-clip: padding-box;
	border: 2px solid transparent;
	border-radius: 10px;
}
